.container{
    background-image: url(../images/background.png);
    height: 768px;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 ;

}
.header{
    height: 55px;
    background: rgba(0,0,0, 0.4);
    background-size: inherit;

}
.journey{
    font-size: 20px;
    font-family: "Verdana", sans-serif;
    color: rgba(255, 255, 255,1);
    font-weight: bold;
    line-height: 1.05;
    text-align: left;
    position: absolute;
    left: 81px;
    margin-top: 20px;
}
.journey:hover{
    color: rgb(60, 184, 120);
}


.logo{
    position: absolute;
    right: 280px;
    width: 200px;
    height: 55px;
}
.welcome{
    position: absolute;
    width: 200px;
    margin-left: 1150px;


}
.log-in{
    font-size: 14px;
    font-family: "Verdana",sans-serif;
    color: rgba(255, 255, 255,1);
    line-height: 1.5;
    text-align: center;
}
.log-in-sp{
    font-size: 14px;
    font-family: "Verdana",sans-serif;
    color: rgb(60, 184, 120);
    line-height: 1.5;
}
.log-in-sp:hover{
    text-decoration: underline;
}


.content{
    width: 445px;
    height: 585px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 65px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    position: relative;

}
.square{
    background-color: rgb(60, 184, 120);
    width: 18px;
    height: 18px;
    position: absolute;
    top:30px;
    left: 0;
}
.sign-up{
    width: 320px;
    height: 520px;
    margin-left: auto;
    margin-right: auto;
}
.sign-up-text{
    width: 320px;
    font-size: 20px;
    font-family: "Verdana", sans-serif;
    color: #434343;
    line-height: 1.05;
    text-align: center;
    position: absolute;
    margin-top: 27px;
}

.sign-up-sp{
    width: 45px;
    font-size: 14px;
    font-family: "Verdana",sans-serif;
    color: rgb(60, 184, 120);
    line-height: 1.5;
    text-align: left;
    position: relative;
    right: 0;
    margin-left: 193px;
}
.sign-up-sp:hover{
    text-decoration: underline;
}

.face-button{
    width: 155px;
    height: 45px;
    display:inline-block;
    padding: 7px 10px;
    border-radius: 5px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Verdana", sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    background-color: #305db8;
    text-align:left;
    position:relative;
    vertical-align:middle;
    margin-top: 65px ;
}

.face{
    font-size: 16px;
    font-weight: 400;
    border-left:1px solid #2b54a5;
    padding-left: 20px;
    font-family: "Verdana", sans-serif;
    margin-left: 3px;
}

.g-button{
    width: 155px;
    height: 45px;
    display:inline-block;
    padding: 7px 10px;
    border-radius: 5px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Verdana", sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    background-color: #df4a32;
    text-align:left;
    position:relative;
    vertical-align:middle;
    margin-top: 65px ;
    right: 0;
    margin-left: 6px;
}
.google{
    font-size: 16px;
    font-weight: 400;
    border-left:1px solid #c8422d;
    padding-left: 20px;
    font-family: "Verdana", sans-serif;
    margin-left: 3px;
}
.clear{
    clear: both;
}

.bord{
    display: inline-block;
    position: absolute;
    width: 135px;
    border-bottom: 1px solid #eaeaea;
    margin-top: 30px;
    float: left;
}
.or{
    display: inline-block;
    position: absolute;
    font-size: 12px;
    font-weight: 400;
    color: #848484;
    font-family: "Verdana", sans-serif;
    padding:10px 17px ;
    float: left;
    margin-left: 135px;
    text-align: center;

}
.bord2{
    display: inline-block;
    position: relative;
    width: 135px;
    border-bottom: 1px solid #eaeaea;
    margin-top: 30px;
    margin-right: 3px;
    float: right;

}
.inputs{
    display: block;
    position: relative;
    margin-top: 50px;
    width: 100%;
}
.input1{
    font-family: "Verdana", sans-serif;
    font-size: 12px;
    width: 320px;
    height: 45px;
    padding: 0 20px;
    margin-top: 10px ;
    border-radius: 5px;
    box-shadow: none;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.input1:focus{
    outline: none;
    box-shadow: 0 1px 3px 1px #d6d6d6;
    transition: .17s linear;
}

.checkbox{
    margin-top: 20px;
    display: inline-block;
    float: left;
}

.agree{
    width: 320px;
    font-size: 14px;
    font-family: "Verdana", sans-serif;
    color: #434343;
    line-height: 1.05;
    text-align: left;
}

.terms{
    width: 45px;
    font-size: 14px;
    font-family: "Verdana",sans-serif;
    color: rgb(60, 184, 120);
    line-height: 1.5;
    text-align: left;
    position: relative;
    right: 0;
}
.terms:hover{
    text-decoration: underline;
}

.lab{
    display: inline-block;
    position: absolute;
    left: 30px;
    float: left;
    margin-top: 60px;
}
.but{
    width: 320px;
    height: 45px;
    background-color: rgb(60, 184, 120);
    border-radius: 5px;
    font-size: 16px;
    color: white;
    font-family: "Verdana",sans-serif;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    box-shadow: none;
    border: none;
    margin-top: 30px;
}
.checkbox{
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: white;
    width: 20px;
    height: 20px;
    border:  1px solid #eaeaea;
    display: inline-block;
    position: relative;
    border-radius: 3px;

}
.checkbox:checked{
    background-color: white;
    border:  1px solid #eaeaea;
    color: rgb(60, 184, 120);
}
.checkbox:checked::after{
    content: '\1003';
    font-size: 14px;
    position: absolute;
    top: 0;
    left: 3px;
    color: rgb(60, 184, 120);
}







.bg-ic_journey:hover {
    width: 20px; height: 20px;
    background: url('../images/css_sprites.png') -10px -50px;
    opacity: 1;
}


.bg-ic_forum:hover {
    width: 28px; height: 20px;
    background: url('../images/css_sprites.png') -10px -10px;
}


.bg-ic_caledar:hover {
    width: 19px; height: 19px;
    background: url('../images/css_sprites.png') -106px -10px;
}


.bg-line {
    width: 1px; height: 19px;
    background: url('../images/css_sprites.png') -10px -90px;
    opacity: 1;

}


.bg-ic_journey {
    width: 20px; height: 20px;
    background: url('../images/css_sprites.png') -50px -50px;
}


.bg-ic_forum {
    width: 28px; height: 20px;
    background: url('../images/css_sprites.png') -58px -10px;
}


.bg-ic_caledar {
    width: 19px; height: 19px;
    background: url('../images/css_sprites.png') -106px -49px;

}